Здравствуйте! Здесь представлена информация про Sauron Drive!

Sauron Drive - это каршеринговый сервис, который позволяет быстро и в удобной форме арендовать машину на основе поминутной оплаты.
Все, что вам нужно для начала:
    1) Документ, удостоверяющий личность (паспорт, военный билет)
    2) Водительское удостоверение
    3) Медицинская справка

Теперь вы готовы путешествовать по городу на транспортных средствах нашей компании!
